body.no-scroll {
  overflow: hidden;
}

/* ===== Section ===== */
.header-section,
.hero-section,
.most-sold-products-section,
.new-products-section,
.deal-section,
.footer-section,
.page-header-section,
.mission-vision-section,
.team-section,
.cart-section,
.categories-section,
.contact-section,
.products-toolbar-section,
.deals-section,
.accordion-section,
.contact-google-map-section,
.new-arrivals-section,
.content-section,
.product-details-section,
.related-products,
.products-section,
.image-text-section,
.call-to-action-section {
  padding: 1.5rem 5rem;
  /* padding: clamp(1.25rem, 3vw, 1.5rem) clamp(1.4rem, 5vw, 3rem); */
  background-color: var(--color-bg);
}

/* ===== Title ===== */
.section-title {
  display: inline-block;
  align-self: flex-start;
  border-bottom: 2px solid var(--color-primary);
}

/* ===== Container ===== */
.hero-container,
.most-sold-products-container,
.products-container,
.new-products-container,
.new-arrivals-container,
.deals-container,
.deal-container,
.related-products-container,
.mission-vision-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* ===== Background Overlay ===== */
.background-overlay-section {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 9996;
  display: none;
}

.background-overlay-section.active {
  display: block;
  opacity: 1;
}

/* ===== Section: Page Header ===== */
.page-header-section {
  background: radial-gradient(34.02% 44.73% at 50% 55.27%,
      var(--color-primary) 0%,
      var(--color-bg) 100%);
}

.page-header-container {
  text-align: center;
}

.page-title {
  font-size: clamp(1.9rem, 5vw, 3rem);
  /* 5vw --> 2.4rem (768px-tablet) */
}

.page-title span {
  text-transform: lowercase;
  font-size: clamp(1.9rem, 5vw, 3rem);
  /* 5vw --> 2.4rem (768px-tablet) */
}

.page-subtitle {
  font-size: clamp(1.1rem, 2.8vw, 1.5rem);
  /* 2.8vw --> 1.344rem (768px-tablet) */
}

/* ===== Section: Call to Action ===== */
.call-to-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  text-align: center;
}

.call-to-action-container h2 {
  text-transform: capitalize;
}

/* ===== Section: Image With Text ===== */
.image-text-container {
  display: flex;
  gap: 1.25rem 2rem;
  flex-wrap: wrap;
}

.image-text-title {
  color: var(--color-primary);
}

.image-text-media {
  flex: 1 1 46%;
  height: 100%;
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.image-text-content {
  flex: 1 1 50%;
}

/* ===== Section: Content ===== */
.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 2vw, 1rem);
  /* 2vw --> 0.96rem (768px-tablet) */
  width: min(100%, 50rem);
}

.content-heading {
  text-transform: capitalize;
  color: var(--color-primary);
}

/* ===== Google Map Container ===== */
.google-map-container {
  width: 100%;
  border-radius: var(--radius-md);
  overflow: hidden;
  background-color: var(--color-surface);
}

/* ===== Form Styles ===== */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--color-bg);
  border: 2px solid var(--color-surface);
  border-radius: var(--radius-md);
  outline: none;
}

.form-textarea {
  resize: vertical;
  min-height: 6rem;
  max-height: 15rem;
}

.form-input:focus,
.form-textarea:focus {
  border-color: var(--color-primary);
}

.form-checkbox,
.form-radio-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-required {
  color: var(--color-primary);
}

/* ===== Social Icons ===== */
.social-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.social-icon {
  background-color: var(--color-bg);
  transition: 0.1s ease;
}

.social-icon::after {
  background: transparent;
}
/* ========== Hover Effects ========== */
@media (hover: hover) {

  .header-icon:hover,
  .checkout-btn-cart:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
  }

  .nav-link:hover {
    background-color: var(--color-primary);
  }

  .footer-nav-link:hover,
  .footer-nav-link:hover span {
    color: var(--color-dark);
  }

  .social-icon:hover {
    outline: 2px solid var(--color-light);
    outline-offset: 3px;
  }

  .btn:hover::after,
  .btn-circle:hover::after {
    bottom: 0;
  }

  .news-letter-btn:hover,
  .cart-btn-close:hover,
  .product-filter-btn-close:hover,
  .menu-btn-close:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
  }

  .btn-cart-item-delete:hover i {
    color: var(--color-danger);
  }

  .product-filter-btn-clear:hover,
  .sign-in-link:hover,
  .order-nav-link:hover {
    color: var(--color-primary)
  }

  .category-card:hover .category-image {
    transform: scale(1.05);
  }

  .product-card:hover .product-image {
    transform: scale(1.02);
  }

  .mv-card:hover {
    transform: translateY(-5px);
  }


  .site-name:hover {
    color: var(--color-light);
  }

  .accordion-details:hover {
    border-color: var(--color-primary);
  }
}
/* ========== Media Queries ========== */
@media screen and (max-width: 768px) {

  .header-section,
  .hero-section,
  .most-sold-products-section,
  .new-products-section,
  .deal-section,
  .footer-section,
  .page-header-section,
  .mission-vision-section,
  .team-section,
  .cart-section,
  .categories-section,
  .contact-section,
  .products-toolbar-section,
  .deals-section,
  .accordion-section,
  .contact-google-map-section,
  .new-arrivals-section,
  .content-section,
  .product-details-section,
  .related-products,
  .products-section,
  .image-text-section,
  .call-to-action-section {
    padding: 1.5rem 2.5rem;
  }

  .contact-google-map-container {
    height: 20rem;
  }
}

@media screen and (max-width: 480px) {

  .header-section,
  .hero-section,
  .most-sold-products-section,
  .new-products-section,
  .deal-section,
  .footer-section,
  .page-header-section,
  .mission-vision-section,
  .team-section,
  .cart-section,
  .categories-section,
  .contact-section,
  .products-toolbar-section,
  .deals-section,
  .accordion-section,
  .contact-google-map-section,
  .new-arrivals-section,
  .content-section,
  .product-details-section,
  .related-products,
  .products-section,
  .image-text-section,
  .call-to-action-section {
    padding: 1.25rem 1rem;
  }
}