/* ===== Global ===== */
@import './global/variables.css';
@import './global/reset.css';
@import './global/global.css';

/* ===== Common ===== */
@import './common/common-sections.css';

/* ===== Sections ===== */
@import './sections/header.css';
@import './sections/footer.css';
@import './sections/hero.css';
@import './sections/most-sold-products.css';
@import './sections/new-products.css';
@import './sections/deal.css';
@import './sections/missionVision.css';
@import './sections/teamCard.css';
@import './sections/contact.css';
@import './sections/category.css';
@import './sections/product-details.css';
@import './sections/checkout.css';
@import './sections/cart.css';
@import './sections/product-filter.css';

/* ===== Responsive ===== */
@import './global/responsive.css';