/* ===== CSS Reset ===== */
@font-face {
    font-family: "Karantina";
    src: url("/assets/fonts/Karantina-Bold.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Karantina", sans-serif;
}

body {
    background: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: var(--font-size-lg);
    color: var(--color-text);
    text-transform: uppercase;
}

p,
span,
ul,
li,
a,
details,
summary,
label,
input,
textarea,
button {
    font-size: var(--font-size-base);
    color: var(--color-text);
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
}