/* ===== CSS Reset ===== */
@font-face {
    font-family: "Karantina-Regular";
    src: url("/assets/fonts/Karantina-Regular.ttf");
}

@font-face {
    font-family: "Karantina-Bold";
    src: url("/assets/fonts/Karantina-Bold.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Karantina-Regular", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: var(--font-size-lg);
    color: var(--color-text);
    text-transform: uppercase;
    font-family: "Karantina-Bold", sans-serif;
}

h2 span {
    font-family: "Karantina-Bold", sans-serif;
}

a,
button,
button span {
    font-family: "Karantina-Bold", sans-serif;
}

p,
span,
ul,
li,
a,
details,
summary,
label,
input,
textarea,
button,
select,
option,
legend {
    font-size: var(--font-size-base);
    color: var(--color-text);
}

input[type="checkbox"],
input[type="radio"] {
    width: 1rem;
    height: 1rem;
    outline: none;
    border-radius: var(--radius-pill);
    cursor: pointer;
    accent-color: #cf0f47;
    cursor: pointer;
}


fieldset {
    border: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a span {
    font-family: "Karantina-Bold", sans-serif;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
}

select,
option {
    background: #000;
    border: none;
    outline: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
}