@media screen and (max-width:768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .accordion-question-text {
        font-size: 1.35rem;
    }

    p,
    span,
    ul,
    li,
    details,
    summary,
    label,
    input,
    textarea,
    select,
    option,
    legend,
    a,
    button,
    a span,
    button span {
        font-size: 1.1rem;
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: 0.9rem;
        height: 0.9rem;
    }

    .section {
        padding: 1.5rem 2.5rem;
    }

    .hero,
    .most-sold-products,
    .products,
    .new-products,
    .new-arrivals,
    .deals,
    .deal,
    .related-products,
    .accordion-section,
    .new-product-swiper,
    .deal-swiper,
    .new-product-swiper-navigation,
    .deal-swiper-navigation {
        gap: 1rem;
    }

    .page-title {
        font-size: 2.4rem;
    }

    .page-subtitle {
        font-size: 1.3rem;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-title {
        font-size: 1.1rem;
    }

    .price-regular .price-currency,
    .price-regular .price-amount,
    .price-sale .price-currency,
    .price-sale .price-amount {
        font-size: 0.95rem;
    }

    .sale-product .price-regular .price-currency,
    .sale-product .price-regular .price-amount {
        font-size: 0.85rem;
    }

    .products-toolbar {
        margin-bottom: 2rem;
        padding: 0.9rem 0;
    }

    .content-container,
    .accordion-container {
        gap: 0.75rem;
    }

    .btn-circle {
        width: 2.25rem;
        height: 2.25rem;
    }

    .accordion-question {
        padding: 0.9rem;
    }

    .accordion-answer {
        padding: 0 0.9rem 0.9rem;
    }
}


@media screen and (max-width:480px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .accordion-question-text {
        font-size: 1.2rem;
    }

    p,
    span,
    ul,
    li,
    details,
    summary,
    label,
    input,
    textarea,
    select,
    option,
    legend,
    a,
    button,
    a span,
    button span {
        font-size: 1rem;
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: 0.8rem;
        height: 0.8rem;
    }

    .section {
        padding: 1.25rem 1rem;
    }

    .page-title {
        font-size: 1.9rem;
    }

    .page-subtitle {
        font-size: 1.1rem;
    }

    .product-title {
        font-size: 1rem;
    }

    .price-regular .price-currency,
    .price-regular .price-amount,
    .price-sale .price-currency,
    .price-sale .price-amount {
        font-size: 0.85rem;
    }

    .sale-product .price-regular .price-currency,
    .sale-product .price-regular .price-amount {
        font-size: 0.75rem;
    }

    /* ===== Section: Products Grid ===== */
    .products-grid {
        grid-template-columns: 1fr;
    }

    .product-image-wrapper {
        max-height: 17rem;
    }

    /* =====Section: Products Toolbar===== */
    .products-toolbar {
        margin-bottom: 4rem;
        padding: 0.8rem 0;
    }

    .view-toggle {
        display: none;
    }

    .content-container,
    .accordion-container {
        gap: 0.5rem;
    }

    .btn-product-filter,
    .btn-product-filter span,
    .sort-label,
    .sort-select,
    .sort-select option {
        font-size: 0.8rem;
    }

    .btn-product-filter,
    .sort-wrapper {
        gap: 0.2rem;
    }

    .accordion-question {
        padding: 0.8rem;
    }

    .accordion-answer {
        padding: 0 0.9rem 0.9rem;
    }

    .accordion-icon {
        width: 1.75rem;
        height: 1.75rem;
        font-size: 0.9rem;
    }
}