/* ========== Flex Utilities ========== */
/* ===== Common Combinations ===== */
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/*===== Individual Utilities ===== */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

/* .justify-center {
    justify-content: center;
} */

.items-center {
    align-items: center;
}

.gap-sm {
    gap: var(--space-sm);
}

.gap-md {
    gap: var(--space-md);
}

.gap-lg {
    gap: var(--space-lg);
}