@media screen and (min-width: 768px) and (max-width:1023px) {

  .customer-details-container,
  .order-summary-details {
    max-width: 100%;
  }

  .checkout-items .cart-item {
    grid-template-columns: 1fr 6fr;
  }
}

@media screen and (min-width:768px) {
  .cart-container .cart-item {
    grid-template-columns: 1fr 6fr;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 1.5rem 2.5rem;
  }

  /* Section: Header */
  .header-section {
    z-index: 9997;
  }

  .header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header-logo-container {
    justify-self: center;
    order: 2;
  }

  .header-btn-list {
    justify-self: flex-end;
  }

  .header-actions {
    order: 3;
  }

  li:has(.header-btn-account) {
    display: none;
  }

  /* ===== Mobile Menu ===== */
  /* ===== Section: Menu ===== */
  .main-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    max-width: 30rem;
    width: 75%;
    height: 100%;
    background-color: #000;
    opacity: 1;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav.active {
    transform: translateX(0%);
  }

  .main-nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2rem;
  }

  .nav-link {
    padding: 0;
  }

  .nav-link:hover,
  .nav-link.active {
    background: none;
    border-radius: 0;
    color: var(--color-primary);
  }

  .btn-menu-toggle {
    display: block;
    order: 1;
    justify-self: flex-start;
  }

  .menu-btn-account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    background-color: #000;
    padding: 1rem 2rem;
  }

  .menu-btn-account:hover,
  .menu-btn-account:hover i,
  .menu-btn-account:hover span {
    color: var(--color-primary);
  }

  .menu-social-icons {
    display: block;
    width: 100%;
  }

  .menu-social-icons .social-icon {
    background-color: var(--color-primary);
  }

  .menu-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-top: 1px solid #fff;
    background-color: #000;
    margin-top: auto;
  }

  .menu-footer .copy-right {
    display: block;
  }

  .menu-footer .copy-right span {
    font-size: 0.65rem;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-quantity-selector {
    max-width: 42%;
  }

  .contact-google-map-container {
    height: 20rem;
  }

  #btn-scrollToTop {
    bottom: 4.45rem;
  }

  /* Checkout/Confirm Order */
  .checkout-container,
  .order-confirm-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .customer-details-container,
  .order-summary-details {
    max-width: 100%;
  }

  .checkout-items {
    overflow: inherit;
    max-height: 100%;
  }

  .customer-details {
    justify-content: center;
    border-right: none;
    border-top: 1px solid var(--color-muted);
  }

  .order-summary {
    position: static;
    width: 100%;
    justify-content: center;
    padding: 1rem 2rem 0;
  }

  .order-summary-details summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-summary-details summary::-webkit-details-marker {
    display: none;
  }

  .order-summary-icon {
    transition: transform 0.3s ease;
  }

  .order-summary-details[open] .order-summary-icon {
    transform: rotate(180deg);
  }

  .new-product-img {
    aspect-ratio: 3.5 / 2;
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding: 1.25rem 1rem;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-logo-container {
    align-self: center;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
  }

  .products-grid {
    grid-template-columns: 1fr;
  }

  .product-quantity-selector {
    max-width: 40%;
  }

  .product-media {
    width: 100%;
  }

  .cart .cart-item {
    grid-template-columns: 1fr 3fr;
  }

  .view-toggle {
    display: none;
  }

  .contact-google-map-container {
    height: 15rem;
  }

  /* =====Section: Swiper ===== */
  .swiper-btn,
  .swiper-navigation {
    display: none;
  }

  .swiper-action-buttons {
    width: 100%;
    align-items: center;
  }

  .deal-swiper-bottom:has(.swiper-action-buttons) {
    justify-content: center;
  }

  .deal-swiper-bottom .swiper-action-buttons {
    width: auto;
  }

  .order-details-container {
    flex-direction: column;
  }
}