/* ===== CSS Variables (Root) ===== */
:root {
        /* === Colors === */
        --color-primary: #cf0f47;
        --color-bg: #000;
        --color-text: #fff;
        --color-muted: #888888;
        --color-success: #28a745;
        --color-danger: #dc3545;
}