/* ===== Global ===== */
@import './global/variables.css';
@import './global/reset.css';
@import './global/utilities.css';

/* ===== Common ===== */
@import './common/common-sections.css';

/* ===== Sections ===== */
@import './sections/header.css';
@import './sections/footer.css';
@import './sections/hero.css';
@import './sections/most-sold-products.css';
@import './sections/new-products.css';
@import './sections/deal.css';
@import './sections/missionVision.css';
@import './sections/teamCard.css';
@import './sections/contactForm.css';
@import './sections/faqs.css';
@import './sections/categoryCard.css';
@import './sections/product-details.css';
@import './sections/cartDrawer.css'