.cart-drawer-section {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    max-width: 25rem;
    width: 90%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 1;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.cart-drawer-section.active {
    transform: translateX(0%);
}

.cart-drawer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart-btn-close {
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 500;
}

.cart-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    border-bottom: 1px solid var(--color-white);
    background-color: var(--color-black);
}

.cart-item__count-wraper,
.cart-item__count {
    color: #888;
}

.cart-body {
    overflow: auto;
    background-color: var(--color-black);
}

.cart-body::-webkit-scrollbar {
    display: none;
}

.cart-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    border-top: 1px solid var(--color-white);
    background-color: var(--color-black);
}

.cart-total {
    display: flex;
    justify-content: space-between;
}

.tax-shipping-info {
    font-size: 1.3rem;
}

.cart-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
}

.cart-item .color-swatches-label,
.cart-item .color-selected {
    color: #888;
}

.cart-item:not(:last-child) {
    border-bottom: 1px solid #888;
}

.cart-item__image-wrapper {
    position: relative;
    height: auto;
    border: 1px solid #fff;
    border-radius: var(--radius-md);
}

.cart-item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.cart-item__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item__info {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cart-item .product-price {
    grid-area: 1 / 2 / span 2 / 2;
    justify-self: end;
    flex-direction: column;
}