.cart-drawer-section {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    max-width: 25rem;
    width: 90%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 1;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.cart-drawer-section.active {
    transform: translateX(0%);
}

.cart-drawer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart-btn-close {
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 500;
}

.cart-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    border-bottom: 1px solid var(--color-white);
    background-color: var(--color-black);
}

.btn-cart-item_delete {
    font-size: 1rem;
    justify-self: end;
}

.cart-item__count-wraper,
.cart-item__count {
    color: #888;
}

.cart-body {
    overflow-y: auto;
    background-color: var(--color-black);
}

.cart-body::-webkit-scrollbar {
    display: none;
}

.cart-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    border-top: 1px solid var(--color-white);
    background-color: var(--color-black);
    margin-top: auto;
}

.cart-total {
    display: flex;
    justify-content: space-between;
}

.cart-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
}

.cart-item .color-swatches-label,
.cart-item .color-selected {
    color: #888;
}

.cart-item:not(:last-child) {
    border-bottom: 1px solid #888;
}

.cart-item__image-wrapper {
    position: relative;
    height: auto;
    border: 1px solid #fff;
    border-radius: var(--radius-md);
}

.cart-item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-item__details,
.cart-item__actions {
    display: flex;
    justify-content: space-between;
    flex: 1 1 40%;
    max-width: 100%;
    align-items: center;
}

.cart-item__content {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-sm) 7rem;
}

.cart-item__info {
    display: flex;
    flex-direction: column;
}

.cart-item .product-price {
    flex-flow: row wrap;
    justify-content: flex-end;
}

/* Specific for Cart Page */
.cart-page-header {
    flex-direction: row;
    justify-content: space-between;
}

.cart-btn-continue {
    text-decoration: underline;
}

.cart-page-footer {
    justify-self: flex-end;
    max-width: 40%;
    border: none;
}