/* ===== Section: Categories Grid ===== */
.category-swiper-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    padding-top: var(--spacing-md);
}

.category-card {
    background: #cf0f47;
    border-radius: 17px;
    padding: 0.8rem;
}

.category-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.category-image-wrapper {
    width: 100%;
    height: 15rem;
    border-radius: 17px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.category-card:hover .category-image {
    transform: scale(1.1);
}

.category-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}