.checkout-section,
.order-confirm-section {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-bg);
}

.customer-details {
    height: 100%;
    background-color: #090909;
    border-right: 1px solid #888;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
}

.customer-details-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.customer-details__container,
.order-review__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.customer-details__container,
.order-review__container {
    max-width: 75%;
}

.customer-details__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-in-link {
    text-decoration: underline;
    font-family: "Karantina-Regular", sans-serif;
}

/* .shipping-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
} */

.email-confirm-label,
.save-info-label {
    font-family: "Karantina-Regular", sans-serif;
    cursor: pointer;
}

.form-checkbox,
.billing-radio-button {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.region-select-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid #1a1a1a;
    border-radius: var(--radius-md);
    padding: var(--spacing-sm);
}

.region-label {
    color: #757575;
    cursor: pointer;
}

.billing-label {
    cursor: pointer;
}

.region-select,
.region-select option {
    background-color: #090909;
}

.region-select:focus,
.region-select:focus .region-label,
.region-select:focus .region-select-wrapper {
    background: rgba(207, 15, 71, 0.05);
}

/* Styles the entire wrapper when the select is clicked/focused */
.region-select-wrapper:focus-within {
    background: rgba(207, 15, 71, 0.05);
    border: 2px solid #cf0f47;
}

.region-select:focus {
    background: transparent;
}

.full-name-input,
.city-input {
    display: flex;
    gap: var(--spacing-md);
}

.shipping-method-wrapper,
.payment-wrapper,
.billing-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.shipping-method-text,
.payment {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-sm);
    background: rgba(207, 15, 71, 0.05);
    border: 2px solid var(--color-primary);
    border-radius: var(--radius-md);
}

.shipping-method p,
.payment p {
    font-size: var(--font-size-base);
    text-transform: capitalize;
}

.billing-radio-buttons {
    display: flex;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    border: 2px solid #1a1a1a;
    border-radius: var(--radius-md);
    padding: var(--spacing-sm);
}

.billing-radio-button {
    padding: var(--spacing-sm);
    border-radius: var(--radius-md);
}

.billing-radio-button:has(.billing-btn:checked) {
    background: rgba(207, 15, 71, 0.05);
    border: 2px solid var(--color-primary);
}

.billing-radio-button {
    position: relative;
}

.billing-address {
    display: none;
}

.billing-diff:checked .billing-address {
    position: relative;
}

.billing-radio-buttons:has(.billing-diff:checked) .billing-address {
    display: flex;
}

.order-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 0.5rem 2rem;
}

.order-nav-link {
    font-family: "Karantina-Regular", sans-serif;
    text-decoration: underline;
}

.order-review {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem;
    display: flex;
}

.checkout-items {
    height: 60%;
    overflow: auto;
}

.discount-code-form {
    display: flex;
    gap: var(--spacing-md)
}

.checkout-total-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.shipping-amount,
.checkout-total {
    display: flex;
    justify-content: space-between;
}

.cart-total-info {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

/* Order Completion Pgae */
.thank-you {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.thank-you__icon {
    color: #008000;
    font-size: 3rem;
}

.order-confirm,
.order-details {
    border: 1px solid #888;
    border-radius: var(--spacing-md);
    padding: var(--spacing-md);
}

.customer-details__main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.order-details-container {
    display: flex;
    gap: var(--spacing-md);
}

.order-details-container h2 {
    font-size: var(--font-size-base);
}

.order-details,
.order-details__left,
.order-details__right {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.customer-details__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping-address-map {
    height: 13rem;
}

.customer-name {
    font-size: var(--font-size-lg);
}

.site-name,
.checkout-btn-cart {
    color: var(--color-primary);
}