/* =====Section: Contact Form===== */
.contact {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: var(--spacing-md);
    align-content: center;
}

.contact-form-wrapper {
    flex: 1 1 60%;
    display: flex;
    align-items: center;
}

.contact-form {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.form-required {
    color: var(--color-primary);
    font-size: var(--font-size-base);
}

.form-input,
.form-textarea {
    padding: var(--spacing-sm);
    background: transparent;
    border: 2px solid #1a1a1a;
    border-radius: var(--radius-md);
    outline: none;
}

.form-input:focus,
.form-textarea:focus {
    background: rgba(207, 15, 71, 0.05);
    border-color: var(--color-primary);
}

.form-textarea {
    resize: vertical;
    min-height: 6rem;
    max-height: 15rem;
}

.btn-submit {
    align-self: flex-start;
}

.map-container {
    width: 100%;
    height: 30rem;
    border-radius: var(--radius-md);
    overflow: hidden;
    background-color: #1a1a1a;
}

.contact-info-wrapper {
    flex: 1 1 30%;
    background: var(--color-primary);
    border-radius: var(--radius-md);
    padding: var(--spacing-lg);
}

.contact-info-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.contact-info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    padding: var(--spacing-sm);
    border-radius: var(--radius-full);
    background-color: var(--color-black);
}

.contact-info-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.contact-info-label {
    color: var(--color-black);
}