/* ===== Section: Footer ===== */
.footer {
    background: var(--color-primary);
    text-transform: uppercase;
}

.footer-divider {
    height: 0.2rem;
    border: none;
    background-color: #000;
}

.footer-logo-container {
    height: 6rem;
}

.footer-logo {
    height: 100%;
    border: 3px solid #000;
}

.footer-heading {
    color: #000;
}

.footer-nav-link {
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    /* font-family: "Poppins-Regular", sans-serif; */
}

.footer-nav-link span {
    font-size: 1rem;
    text-transform: lowercase;
    transition: 0.3s ease-in-out;
}

.footer-nav-link:hover,
.footer-nav-link:hover span {
    color: #000;
}

.footer-nav-link.active,
.footer-nav-link.active span {
    color: #000;
}

.news-letter-form {
    border: 1px solid #000;
}

.news-letter-input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--color-text);
    text-transform: none;
}

.news-letter-input::placeholder {
    color: var(--color-text);
    text-transform: uppercase;
}

.news-letter-input:focus {
    outline: none;
}

.news-letter-btn {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #000;
    text-transform: uppercase;
    cursor: pointer;
}

.social-icon {
    background-color: #000;
}

.copy-right {
    text-transform: capitalize;
}

.copy-right span {
    font-family: "Poppins-Regular", sans-serif;
}