/* ===== Section: Footer ===== */
footer {
    background: var(--color-primary) !important;
    text-transform: uppercase;
}

footer hr {
    height: 0.2rem;
    border: none;
    background-color: var(--color-dark);
}

.footer-logo {
    height: 6rem;
}

.img-footer-logo {
    height: 100%;
    border: 3px solid var(--color-dark);
}

.footer-nav ul {
    text-transform: uppercase;
}

.footer-nav ul li span {
    text-transform: lowercase;
}

.footer-links h2 {
    color: var(--color-dark);
}

.news-letter h2 {
    color: var(--color-dark);
}

.news-letter-form {
    border: 1px solid var(--color-dark);
}

.news-letter input[type="email"] {
    padding: var(--space-sm);
    border: none;
    background-color: transparent;
    font-size: var(--fs-text);
    color: var(--color-secondary);
    text-transform: none;
}

.news-letter input[type="email"]::placeholder {
    color: var(--color-secondary);
    text-transform: uppercase;
}

.news-letter input[type="email"]:focus {
    outline: none;
}

.news-letter-form button {
    padding: var(--btn-padding);
    border: none;
    background-color: var(--color-dark);
    text-transform: uppercase;
    cursor: pointer;
}

.social-icons ul li a {
    background-color: var(--color-dark);
}

.copy-right a {
    color: var(--color-dark);
}