/* ===== Section: Footer ===== */
.footer {
    background: var(--color-primary) !important;
    text-transform: uppercase;
}

.footer-divider {
    height: 0.2rem;
    border: none;
    background-color: var(--color-dark);
}

.footer-logo-container {
    height: 6rem;
}

.footer-logo {
    height: 100%;
    border: 3px solid var(--color-dark);
}

.footer-heading {
    color: var(--color-dark);
}

.footer-nav-link {
    transition: all var(--transition-fast);
}

.footer-nav-link span {
    text-transform: lowercase;
    transition: all var(--transition-fast);
}

.footer-nav-link:hover,
.footer-nav-link:hover span {
    color: var(--color-dark);
}

.footer-nav-link.active,
.footer-nav-link.active span {
    color: var(--color-dark);
}

.news-letter-form {
    border: 1px solid var(--color-dark);
}

.news-letter-input {
    padding: var(--space-sm);
    border: none;
    background-color: transparent;
    font-size: var(--fs-text);
    color: var(--color-secondary);
    text-transform: none;
}

.news-letter-input::placeholder {
    color: var(--color-secondary);
    text-transform: uppercase;
}

.news-letter-input:focus {
    outline: none;
}

.news-letter-btn {
    padding: var(--btn-padding);
    border: none;
    background-color: var(--color-dark);
    text-transform: uppercase;
    cursor: pointer;
}

.social-icon {
    background-color: var(--color-dark);
}

.copy-right {
    text-transform: capitalize;
}