/* ===== Section: Header ===== */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    text-transform: uppercase;
}

.header-left {
    height: 3rem;
}

.header-logo {
    height: 100%;
}

.header-icon {
    color: var(--color-primary);
}

.nav-link {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-pill);
    transition: var(--transition);
    font-family: "Karantina-Bold", sans-serif;
}

.nav-link:hover {
    background-color: var(--color-primary);
}

.nav-link.active {
    background-color: var(--color-primary);
}