/* ===== Section: Header ===== */
.header-left {
    height: 3rem;
}

.header-right ul li a {
    color: var(--icon-color-primary);
}

.img-logo {
    height: 100%;
}

.main-nav ul {
    text-transform: uppercase;
}

.main-nav ul li a {
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-pill);
    transition: all var(--transition-fast);
}



.main-nav ul li a:hover {
    background-color: var(--btn-secondary-bg-color);
}

.main-nav ul li a:active {
    background-color: var(--btn-secondary-bg-color);
}

.main-nav ul li a:focus {
    background-color: var(--btn-secondary-bg-color);
}