/* ===== Section: Header ===== */
.header {
    text-transform: uppercase;
}

.header-left {
    height: 3rem;
}

.header-logo {
    height: 100%;
}

.header-icon {
    color: var(--icon-color-primary);
}

.nav-link {
    padding: var(--btn-padding);
    border-radius: var(--radius-pill);
    transition: all var(--transition-fast);
}

.nav-link:hover {
    background-color: var(--btn-secondary-bg-color);
}

.nav-link:active {
    background-color: var(--btn-secondary-bg-color);
}

.nav-link:focus {
    background-color: var(--btn-secondary-bg-color);
}