/* ===== Section: Header ===== */
/* header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--section-padding);
    background-color: var(--color-dark);
} */

.header-left {
    height: 3rem;
}

.img-logo {
    height: 100%;
}

.main-nav ul {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm); */
    text-transform: uppercase;
}

.main-nav ul li a {
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-pill);
    transition: all var(--transition-fast);
}

.main-nav ul li a:hover {
    background-color: var(--btn-secondary-bg-color);
}

.main-nav ul li a:active {
    background-color: var(--btn-secondary-bg-color);
}

.main-nav ul li a:focus {
    background-color: var(--btn-secondary-bg-color);
}

/* .header-right ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
}

*/
.header-right .fa-solid {
    color: var(--icon-color-primary);
}