/* ===== Section: Header ===== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-transform: uppercase;
}

.header-left {
    height: 3rem;
}

.header-logo {
    height: 100%;
}

.header-icon {
    color: var(--color-primary);
}

.main-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rems;
}

.nav-link {
    padding: 0.5rem 1rem;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    font-family: "Poppins-Regular", sans-serif;
}

.nav-link:hover {
    background-color: var(--color-primary);
}

.nav-link.active {
    background-color: var(--color-primary);
}

.header-btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.header-btn-cart {
    position: relative;
}

.cart-count {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20%;
    right: -40%;
    background-color: #fff;
    border: 1.5px solid #000;
    border-radius: 50%;
    font-size: 0.8rem;
    color: #000;
}