/* ===== Section: Hero ===== */
.hero {
    background: radial-gradient(34.02% 44.73% at 50% 55.27%,
            var(--color-primary) 0%,
            var(--color-bg) 100%);
}

.hero-content {
    position: relative;
}

.hero-text-container {
    position: absolute;
    opacity: 0.1;
}

.hero-heading {
    font-family: 'Karantina-Bold', sans-serif;
    font-size: 16rem;
}

.hero-images-container {
    position: relative;
    height: 30rem;
    z-index: 1;
}

.hero-image {
    height: 24rem;
}

.hero-image-left {
    align-self: flex-end;
}

.hero-image-right {
    align-self: flex-start;
}