/* ===== Section: Hero ===== */
.hero {
    background: var(--gradient-surface-section);
}

.hero-content {
    position: relative;
}

.hero-text-container {
    position: absolute;
    opacity: 0.1;
}

.hero-heading {
    font-size: 16rem;
}

.hero-images-container {
    position: relative;
    height: 30rem;
    z-index: 1;
}

.hero-image {
    height: 24rem;
}

.hero-image-left {
    align-self: flex-end;
}

.hero-image-right {
    align-self: flex-start;
}