/* ===== Section: Hero ===== */
.hero {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-lg);
    padding: var(--section-padding); */
    background: var(--gradient-surface-section);
}

.hero-content {
    /* display: flex;
        justify-content: center;
        align-items: center; */
    position: relative;
}

.hero-text {
    position: absolute;
    text-transform: uppercase;
    opacity: 0.1;
}

.hero-text h1 {
    font-size: 16rem;
}

.hero-images {
    /* display: flex;
        justify-content: center;
        align-items: center; */
    position: relative;
    height: 30rem;
    z-index: 1;
}

.hero-images img {
    height: 24rem;
}

.hero-images img:first-child {
    align-self: flex-end;
}

.hero-images img:nth-child(2) {
    align-self: flex-start;
}

/* .hero-buttons {
    display: flex;
    gap: var(--space-lg);
} */