/* ===== Section: Hero ===== */
.hero {
    background: var(--gradient-surface-section);
}

.hero-content {
    position: relative;
}

.hero-text {
    position: absolute;
    text-transform: uppercase;
    opacity: 0.1;
}

.hero-text h1 {
    font-size: 16rem;
}

.hero-images {
    position: relative;
    height: 30rem;
    z-index: 1;
}

.hero-images img {
    height: 24rem;
}

.hero-images img:first-child {
    align-self: flex-end;
}

.hero-images img:nth-child(2) {
    align-self: flex-start;
}