/* Section: Mission & Vision */
.mv-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    padding-top: 1rem;
}

.mv-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 17px;
    background: #1a1a1a;
}

.mv-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    background: var(--color-primary);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 50%;
}

.mv-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}