/* ===== Section: Most Sold Products ===== */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    width: 100%;
    gap: var(--spacing-xl) var(--spacing-lg);
    margin-top: 10%;
    /* display: flex;
        flex-flow: row wrap;
        gap: var(--spacing-lg); */
}

.product-card {
    padding: 0 var(--spacing-md);
    border-radius: var(--radius-lg);
    background: linear-gradient(180deg,
            var(--color-primary) -2.32%,
            rgba(207, 15, 71, 0) 86.28%);
}

.product-image-container {
    height: 20rem;
}

.product-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateY(-35%);
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    font-size: var(--font-size-base);
    color: var(--color-text);
    text-transform: capitalize;
}