/* ===== Section: Most Sold Products ===== */
.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 7rem 4rem;
    margin-top: 12%;
    justify-items: center;
}

.product-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-lg);
    background: linear-gradient(180deg,
            var(--color-primary) -2.32%,
            rgba(114, 57, 73, 0) 86.28%);
}

.product-image {
    position: relative;
    top: -35%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: 0 var(--spacing-md);
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-title {
    font-size: var(--font-size-base);
    color: var(--color-text);
    text-transform: capitalize;
}