/* ===== Section: New Deal ===== */
.new-deal-slide {
    position: relative;
    width: 100%;
    height: 30rem;
    border-radius: var(--radius-lg);
    overflow: hidden;
}

.new-deal-image-container {
    width: 100%;
    height: 100%;
}

.new-deal-image {
    width: 100%;
    height: 100%;
}

.new-deal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--spacing-md);
    background: linear-gradient(90deg,
            var(--color-primary) 1.71%,
            rgba(255, 255, 255, 0) 100%);
    text-transform: uppercase;
}

.new-deal-text {
    font-size: var(--font-size-xl);
}