/* ===== Section: New Products ===== */
.new-product-image-container {
    width: 100%;
    height: auto;
}

.new-product-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .new-product-img {
        aspect-ratio: 3.5 / 2;
    }
}