/* ===== Section: New Products ===== */
.new-product-img {
    width: 100%;
}

.new-product-img img {
    width: 75%;
}

/* .new-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
    padding: var(--section-padding);
    background-color: var(--color-dark);
} */
/* .new-products-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.new-products-text {
    position: absolute;
    text-transform: uppercase;
    opacity: 0.1;
}

.new-products-text h2 {
    font-size: 13rem;
}

.new-products-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30rem;
    z-index: 1;
}

.new-products-image img {
    height: 100%;
}

.new-products-slide {
    background: var(--gradient-surface-section);
}

.new-product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.product-info-left {
    position: relative;
    align-self: flex-start;
    height: 50%;
    padding: var(--space-md);
}

.product-info-right {
    position: relative;
    height: 50%;
    padding: var(--space-md);
}

.product-info-left::before,
.product-info-right::before {
    content: "";
    position: absolute;
    inset: 0;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    padding: 0.3rem;
    background: linear-gradient(180deg,
            #cf0f47 0%,
            #cf0f47 61%,
            rgba(0, 0, 0, 0) 97%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.info-title h2 {
    font-size: var(--fs-text);
}

.infot-text ul li {
    font-size: var(--fs-sm);
}

.connector-line {
    position: absolute;
    top: 15%;
    width: 50px;
    height: 2px;
    background: #d9d9d9;
}

.connector-line::after {
    content: "";
    position: absolute;
    width: 225px;
    height: 2px;
    background: #d9d9d9;
}

.connector-left {
    right: -21%;
}

.connector-left::after {
    left: 100%;
    transform-origin: left;
    transform: rotate(45deg);
}

.connector-right {
    left: -21%;
}

.connector-right::after {
    right: 100%;
    transform-origin: right;
    transform: rotate(-45deg);
}

*/