/* ===== Section: New Products ===== */
.new-product-slide {
    width: 100%;
    height: 30rem;
}

.new-product-image-container {
    width: 100%;
    height: 100%;
}

.new-product-img {
    width: 100%;
    height: 100%;
}