.product-details-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

.product-media {
    display: flex;
    justify-content: space-between;
    flex: 1 1 48%;
    height: auto;
}

.product-media-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-thumbnails {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
    overflow: auto;
}

.product-thumbnails>*:not(:first-child) {
    opacity: 0.5;
}

.product-thumbnails::-webkit-scrollbar {
    display: none;
}

.product-thumbnail {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: var(--radius-sm);
}

.product-thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-media-main {
    width: 83%;
    height: 100%;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: var(--radius-sm);
    overflow: hidden;
}

.product-details-info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.product-details-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
    gap: 2rem;
}

.product-details-info .product-title {
    font-size: var(--font-size-lg);
}

.product-rating {
    color: #ef9507;
}

.product-quantity-selector {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.quantity-selector-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: var(--radius-sm);
    padding: 0.5rem;
}

.quantity-count {
    width: 100%;
    background: transparent;
    text-align: center;
    outline: none;
    border: none;
}

.btn-quantity {
    color: #888;
}

.btn-minus,
.btn-plus {
    font-size: var(--font-size-sm);
}

.quantity-count::-webkit-inner-spin-button {
    display: none;
}

.product-options {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.option-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.option-values {
    display: flex;
    gap: var(--spacing-sm);
}

.color-swatch__input {
    display: none;
}

.color-swatch__label {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    padding: 0.2rem;
    border: 2px solid #888;
    border-radius: var(--radius-full);
    cursor: pointer;
}

.color-swatch__visual {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.color-swatch__input:checked+.color-swatch__label {
    border-color: #cf0f47;
}

.color-swatch__visual--white {
    background: #fff;
}

.color-swatch__visual--black {
    background: #000;
}

.color-swatch__visual--red {
    background: #e53935;
}

.btn-atc {
    width: 100%;
}