/* =====Section: Team===== */
.team {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.team-swiper-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.team-card {
    background: var(--color-primary);
    border: 3px solid var(--color-primary);
    border-radius: 17px;
    overflow: hidden;
}

.team-card-header {
    background-color: var(--color-primary);
}

.team-card-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.team-image-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.team-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-card-body {
    text-align: center;
    padding: 1rem;
    background: #1a1a1a;
}

.team-role {
    color: var(--color-primary);
}