.cart-drawer-section {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9998;
  max-width: 25rem;
  width: 90%;
  height: 100%;
  background-color: var(--color-bg);
  opacity: 1;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.cart-drawer-section.active {
  transform: translateX(0%);
}

.cart-drawer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* .cart-btn-close {
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 500;
} */

.cart-header {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* gap: 0.5rem; */
  padding: 1rem;
  border-bottom: 1px solid #fff;
  background-color: var(--color-bg);
}

/* .btn-cart-item-delete { */
  /* font-size: 1rem; */
  /* justify-self: end; */
/* } */
.btn-cart-item-delete i{
    font-size: clamp(0.9rem, 2vw, 1rem);
      /* 2vw --> 0.96rem */
    }
.cart-item-count-wraper,
.cart-item-count {
  color: var(--color-muted);
}

.cart-body {
  overflow-y: auto;
  background-color: var(--color-bg);
}

.cart-body::-webkit-scrollbar {
  display: none;
}

.cart-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-top: 1px solid #fff;
  background-color: var(--color-bg);
  margin-top: auto;
}

.cart-total {
  display: flex;
  justify-content: space-between;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.cart-item .color-swatches-label,
.cart-item .color-selected {
  color: var(--color-muted);
}

.cart-item:not(:last-child) {
  border-bottom: 1px solid var(--color-muted);
}

.cart-item-image-wrapper {
  position: relative;
  height: auto;
  border: 1px solid #fff;
  border-radius: 12px;
}

.cart-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-item-details,
.cart-item-actions {
  display: flex;
  justify-content: space-between;
  flex: 1 1 40%;
  max-width: 100%;
  align-items: center;
  line-height: 1.1;
}

.cart-item-actions {
  flex: 1 1 20%;
}

.cart-item-actions .product-quantity-selector {
  max-width: 50%;
}

.cart-item-content {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem 7rem;
}

.cart-item-info {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.cart-item .product-price {
  flex: 1 1 60%;
  flex-flow: row wrap;
  justify-content: flex-end;
}

/* Specific for Cart Page */
.cart-page-header {
  flex-direction: row;
  align-items: baseline;
}

.cart-btn-continue {
  /* color: var(--color-primary); */
  text-decoration: underline;
  font-size: clamp(0.75rem, 2vw, 0.9rem);
}

.cart-page-footer {
  justify-self: flex-end;
  width: 28rem;
  max-width: 100%;
  border: none;
}

.tax-shipping-info {
  font-size: clamp(0.8rem, 2vw, 1rem);
    /* 2vw --> 0.96rem */}

.cart .cart-item {
  grid-template-columns: 2fr 14fr;
}