/* ===== Section: Categories Grid ===== */
.categories-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category-swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.category-card {
  /* background: var(--color-primary); */
  border-radius: 17px;
  /* padding: 0.5rem; */
}

.category-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.category-image-wrapper {
  /* width: 100%; */
  /* max-height: 12rem; */
  border-radius: 17px;
  overflow: hidden;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  transition: transform 0.3s ease;
}

.category-card:hover .category-image {
  transform: scale(1.1);
}

.category-info {
  text-align: center;
}

.category-title {
  font-size: clamp(1rem, 2.2vw, 1.2rem);
}

#most-sold-products-section {
  scroll-margin-top: 96px;
}