.checkout-container,
.order-confirm-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-bg);
}

.customer-details {
  height: 100%;
  background-color: #090909;
  background-color: #090909;
  border-right: 1px solid var(--color-muted);
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}

.customer-details-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.customer-details-container,
.order-review-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.customer-details-container,
.order-review-container {
  max-width: 75%;
}

.customer-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in-link {
  text-decoration: underline;
}

/* .shipping-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */

.email-confirm-label,
.save-info-label {
  cursor: pointer;
}

.form-checkbox,
.billing-radio-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.region-select-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid #1a1a1a;
  border-radius: 12px;
  padding: 0.5rem;
}

.region-label {
  color: #757575;
  cursor: pointer;
}

.billing-label {
  cursor: pointer;
}

.region-select,
.region-select option {
  background-color: #090909;
}

.region-select:focus,
.region-select:focus .region-label,
.region-select:focus .region-select-wrapper {
  background: rgba(207, 15, 71, 0.05);
}

/* Styles the entire wrapper when the select is clicked/focused */
.region-select-wrapper:focus-within {
  background: rgba(207, 15, 71, 0.05);
  border: 2px solid #cf0f47;
}

.region-select:focus {
  background: transparent;
}

.full-name-input,
.city-input {
  display: flex;
  gap: 1rem;
}

.shipping-method-wrapper,
.payment-wrapper,
.billing-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shipping-method-text,
.payment {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background: rgba(207, 15, 71, 0.05);
  border: 2px solid var(--color-primary);
  border-radius: 12px;
}

.shipping-method p,
.payment p {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.billing-radio-buttons {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid #1a1a1a;
  border-radius: 12px;
  padding: 0.5rem;
}

.billing-radio-button {
  padding: 0.5rem;
  border-radius: 12px;
}

.billing-radio-button:has(.billing-btn:checked) {
  background: rgba(207, 15, 71, 0.05);
  border: 2px solid var(--color-primary);
}

.billing-radio-button {
  position: relative;
}

.billing-address {
  display: none;
}

.billing-diff:checked .billing-address {
  position: relative;
}

.billing-radio-buttons:has(.billing-diff:checked) .billing-address {
  display: flex;
}

.order-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 0.5rem 2rem;
}

.order-nav-link {
  text-decoration: underline;
}

.order-review {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  display: flex;
}

.checkout-items {
  height: 60%;
  overflow: auto;
}

.discount-code-form {
  display: flex;
  gap: 1rem;
}

.checkout-total-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shipping-amount,
.checkout-total {
  display: flex;
  justify-content: space-between;
}

.cart-total-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Order Completion Pgae */
.thank-you {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.thank-you-icon {
  color: var(--color-success);
  font-size: 3rem;
}

.order-confirm-content,
.order-details {
  border: 1px solid var(--color-muted);
  border-radius: 1rem;
  padding: 1rem;
}

.customer-details-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-details-container {
  display: flex;
  gap: 1rem;
}

.order-details-container h2,
.order-details-container h3 {
  font-size: 1.2rem;
}

.order-details,
.order-details-left,
.order-details-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.customer-details-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shipping-address-map-container {
  height: 13rem;
}

.customer-name {
  font-size: 1.5rem;
}

.site-name,
.checkout-btn-cart {
  color: var(--color-primary);
}

.cart-item-count-wrapper {
  color: var(--color-muted);
}

.checkout-item-count {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15%;
  right: -15%;
  background-color: #fff;
  border-radius: 6px;
  font-size: 1.2rem;
  color: #000;
}
