/* =====Section: Contact Form===== */
.contact-container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.25rem 2rem;
}

.contact-form-wrapper {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-required {
  color: var(--color-primary);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.5rem;
  background: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 12px;
  outline: none;
}

.form-input:focus,
.form-textarea:focus {
  background-color: rgba(207, 15, 71, 0.05);
  border-color: var(--color-primary);
}

.form-textarea {
  resize: vertical;
  min-height: 6rem;
  max-height: 15rem;
}

.btn-submit {
  align-self: flex-start;
}

.contact-google-map-container {
  height: 25rem;
}

.contact-info-wrapper {
  flex: 1 1 30%;
  background-color: var(--color-primary);
  border-radius: 12px;
  padding: 1rem;
}

.contact-info-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-info-icon {
  min-width: clamp(2.7rem, 5.8vw, 3rem);
  /* 5.8vw --> 2.784rem */
  min-height: clamp(2.7rem, 5.8vw, 3rem);
  /* 5.8vw --> 2.784rem */
  background-color: var(--color-bg);
  aspect-ratio: 1 / 1;
}

.contact-info-icon i {
  font-size: clamp(1.4rem, 3vw, 1.5rem);
  /* 3vw --> 1.44rem */
}

.contact-info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-info-label {
  color: #000;
  text-transform: capitalize;
}

.contact-info-content a {
  font-weight: 300;
}