/* ===== Section: Hero ===== */
.hero-section {
    background: radial-gradient(34.02% 44.73% at 50% 55.27%,
            var(--color-primary) 0%,
            var(--color-bg) 100%);
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-text-container {
    opacity: 0.1;
}

.hero-heading {
    font-family: 'Karantina-Bold', sans-serif;
    font-size: 16rem;
}

.hero-images-container {
    display: flex;
    position: absolute;
    height: 90%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-left-image-wrapper,
.hero-right-image-wrapper {
    height: 85%;
    flex: 1 1 100%;
}

.hero-left-image-wrapper {
    align-self: flex-end;
}

.hero-right-image-wrapper {
    align-self: flex-start;
}