/* Section: Mission & Vision */
.mv-cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem 2rem;
}

.mv-card {
    flex: 1 1 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 17px;
    background-color: #1a1a1a;
}

.mv-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: clamp(4rem, 9.5vw, 5rem);
    /* 9.5vw --> 4.56rem */
    min-height: clamp(4rem, 9.5vw, 5rem);
    /* 9.5vw --> 4.56rem */
    background-color: var(--color-primary);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.mv-card-icon i {
    font-size: clamp(2rem, 4.6vw, 2.5rem);
    /* 4.6vwvw --> 2.208rem */
}

.mv-card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}