/* Section: Mission & Vision */
.mv-cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem 2rem;
}

.mv-card {
    flex: 1 1 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 17px;
    background: #1a1a1a;
}

.mv-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--color-primary);
    font-size: 1.5rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.mv-card-icon i {
    font-size: 2.5rem;
}

.mv-card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}