.product-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  width: 100%;
}

.product-media {
  width: 50%;
}

.product-media-main,
.product-thumbnail {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
}

.product-media-main {
  margin-bottom: 0.5rem;
}

.product-thumbnail {
  cursor: pointer;
}

.product-media-image,
.product-thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  gap: 2rem;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-details-info .product-title {
  font-size: 1.5rem;
}

.product-rating {
  color: #ef9507;
}

.product-rating i {
  font-size: 0.75rem;
}

.product-quantity-selector {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quantity-selector-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 0.2rem 0.4rem;
}

.quantity-selector-wrapper:focus-within {
  background-color: rgba(207, 15, 71, 0.05);
  border-color: #cf0f47;
}

.quantity-count {
  width: 100%;
  background: transparent;
  text-align: center;
  outline: none;
  border: none;
}

.btn-quantity {
  color: var(--color-muted);
}

.btn-quantity i {
  font-size: 0.75rem;
}

.btn-minus,
.btn-plus {
  font-size: var(--font-size-sm);
}

.quantity-count::-webkit-inner-spin-button {
  display: none;
}

.product-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.option-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.option-values {
  display: flex;
  gap: 0.5rem;
}

.color-swatch-input {
  display: none;
}

.color-swatch-label {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  padding: 0.2rem;
  border: 2px solid var(--color-muted);
  border-radius: 50%;
  cursor: pointer;
}

.color-swatch-visual {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.color-swatch-input:checked+.color-swatch-label {
  border-color: #cf0f47;
}

.color-swatch-visual--white {
  background-color: #fff;
}

.color-swatch-visual--black {
  background-color: #000;
}

.color-swatch-visual--red {
  background-color: #e53935;
}

.product-details-content .btn-atc {
  width: 100%;
}