/* =====Section: Team===== */
.team-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.team-swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.team-card {
  background: var(--color-primary);
  border: 3px solid var(--color-primary);
  border-radius: 17px;
  overflow: hidden;
}

.team-card-header {
  background-color: var(--color-primary);
}

.team-card-media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(0.8rem, 1.85vw, 1rem) 0;
  /* 1.85vw --> 0.888rem */
}

.team-image-container {
  max-width: clamp(7rem, 16.5vw, 9rem);
  /* 16.5vw --> 7.92rem */
  max-height: clamp(7rem, 16.5vw, 9rem);
  /* 4vw --> 1.922rem */
  aspect-ratio: 1 / 1;
  border: 3px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.team-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-card-body {
  text-align: center;
  padding: clamp(0.8rem, 1.85vw, 1rem);
  /* 1.85vw --> 0.888rem */
  background: #1a1a1a;
}

.team-role {
  color: var(--color-primary);
}