/* ===== CSS Reset ===== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
}

input[type="checkbox"],
input[type="radio"] {
    outline: none;
}

select,
option {
    border: none;
    outline: none;
}
::selection{
    color: var(--color-text);
    background-color: var(--color-primary);
}