 /* =====Section: Categories===== */
 .categories-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
 }

 .category-swiper-cards {
   display: flex;
   align-items: center;
   gap: 0.5rem;
 }

 .category-card {
   border-radius: var(--radius-lg);
 }

 .category-card-link {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
 }

 .category-card-image-wrapper {
   border-radius: var(--radius-lg);
   overflow: hidden;
 }

 .category-card-image {
   aspect-ratio: 1 / 1;
   transition: var(--transition-base);
 }

 .category-title {
   font-size: clamp(1rem, 2.3vw, 1.2rem);
   /* 2.2vw --> 1.104rem (768px-tablet) */
 }

 .category-info {
   text-align: center;
 }