/* ===== Section: Contact ===== */

.contact-container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.25rem 2rem;
}

.contact-form-wrapper {
  display: flex;
  align-items: center;
  flex: 1 1 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.btn-contact-submit {
  align-self: flex-start;
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: var(--radius-md);
  background-color: var(--color-primary);
}

.contact-info-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-info-icon {
  width: clamp(2.7rem, 5.8vw, 3rem);
  height: clamp(2.7rem, 5.8vw, 3rem);
  /* 5.8vw --> 2.784rem (768px-tablet) */
  aspect-ratio: 1 / 1;
  background-color: var(--color-bg);
}

.contact-info-icon i {
  font-size: clamp(1.4rem, 3vw, 1.5rem);
  /* 3vw --> 1.44rem (768px-tablet) */
}

.contact-info-label {
  color: var(--color-dark);
  text-transform: capitalize;
}

.contact-info-content a {
  font-weight: 300;
}

.contact-google-map-container {
  height: 25rem;
}

/* ========== Media Queries ========== */
@media screen and (max-width: 768px) {
  .contact-google-map-container {
    height: 20rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-google-map-container {
    height: 15rem;
  }
}