/* ===== Section: Footer ===== */

.footer-section {
  position: relative;
  z-index: 9994;
  background-color: var(--color-primary);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 3.5vw, 2rem);
  /* 3.5vw --> 1.68rem (768px-tablet) */
}

.footer-divider {
  height: 0.125rem;
  border: none;
  background-color: var(--color-bg);
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.footer-logo-wrapper {
  height: 6rem;
  border: 3px solid var(--color-dark);
}

.footer-heading {
  color: var(--color-dark);
}

.footer-nav-link {
  font-size: 1rem;
  font-weight: 500;
  transition: var(--transition-base);
}

.footer-nav-link span {
  font-size: 1rem;
  font-weight: 500;
  text-transform: lowercase;
  transition: var(--transition-base);
}

.footer-nav-link.active,
.footer-nav-link.active span {
  color: var(--color-dark);
}

.newsletter-form {
  display: flex;
  border: 1px solid var(--color-dark);
}

.newsletter-form:focus-within {
  outline: 1px solid var(--color-dark);
  outline-offset: 0;
}

.newsletter-input {
  width: 100%;
  padding: 0.5rem;

  border: none;
  background: transparent;

  font-size: 1.2rem;
  color: var(--color-text);
  text-transform: none;
}

.newsletter-input::placeholder {
  color: var(--color-text);
  text-transform: uppercase;
}

.newsletter-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-primary) inset !important;
}

.newsletter-input:focus {
  outline: none;
}

.newsletter-btn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-bg);
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition-base);
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.25rem;
}

.footer-bottom .social-icon {
  background-color: var(--color-bg);
}

.copy-right span {
  font-size: clamp(0.85rem, 2vw, 1rem);
  /* 2vw --> 0.962rem (768px-tablet) */
}

/* ========== Media Queries ========== */
@media screen and (max-width: 480px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-logo-wrapper {
    align-self: center;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
  }
}