/* ========== Section: Mission & Vision ========== */
.mv-cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem 2rem;
}

.mv-card {
    flex: 1 1 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: var(--radius-lg);
    background-color: var(--color-surface);
}

.mv-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(4rem, 9.5vw, 5rem);
    height: clamp(4rem, 9.5vw, 5rem);
    /* 9.5vw --> 4.56rem (768px-tablet) */
    background-color: var(--color-primary);
    border-radius: var(--radius-circle);
    aspect-ratio: 1 / 1;
}

.mv-card-icon i {
    font-size: clamp(2rem, 4.6vw, 2.5rem);
    /* 4.6vw --> 2.208rem (768px-tablet) */
}

.mv-card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}