/* ========== Section: Mission & Vision ========== */
.mission-vision-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem 2rem;
    width: min(100%, 60rem);
}

.mission-vision-card {
    flex: 1 1 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
        gap: 0.5rem;
    padding: 1rem;
    border-radius: var(--radius-lg);
    background-color: var(--color-surface);
    transition: var(--transition-base);
}

.mission-vision-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(4rem, 9.5vw, 5rem);
    height: clamp(4rem, 9.5vw, 5rem);
    /* 9.5vw --> 4.56rem (768px-tablet) */
    background-color: var(--color-primary);
    border-radius: var(--radius-circle);
    aspect-ratio: 1 / 1;
}

.mission-vision-card-icon i {
    font-size: clamp(2rem, 4.6vw, 2.5rem);
    /* 4.6vw --> 2.208rem (768px-tablet) */
}

.mission-vision-card-info {
    display: flex;
    flex-direction: column;
    grid-area: 0.25rem;
}
.mission-vision-card-title, .mission-vision-card-description{
    text-align: center;
}