/* ========== Section: Product Filter ========== */
.product-filter-section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9997;
  width: min(75%, 25rem);
  height: 100%;
  background-color: var(--color-bg);
  transform: translateX(-100%);
  transition: var(--transition-slide);
}

.product-filter-section.active {
  transform: translateX(0%);
}

.product-filter-container {
  height: 100%;
}

.product-filter-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-filter-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--color-light);
  background-color: var(--color-bg);
}
.product-filter-btn-close{
    transition: var(--transition-base);
      border-radius: var(--radius-circle);
      width: clamp(1.67rem, 4vw, 2rem);
      height: clamp(1.67rem, 4vw, 2rem);
      /* 4vw --> 1.922rem (768px-tablet) */
      aspect-ratio: 1 / 1;
          border: 1px solid var(--color-light);
}
.product-filter-body {
  overflow-y: auto;
  background-color: var(--color-bg);
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.price-filter-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.price-count-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.price-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 2px solid var(--color-surface);
  border-radius: var(--radius-md);
  padding: 0.5rem;
}

.price-input-wrapper:focus-within {
  border: 2px solid var(--color-primary);
}

.price-input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  text-align: right;
}

.price-input::-webkit-inner-spin-button {
  display: none;
}

.product-filter-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
  border-top: 1px solid var(--color-light);
  background-color: var(--color-bg);
  margin-top: auto;
}

.btn-product-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
}

.btn-product-filter span {
  font-weight: 300;
  font-size: clamp(0.85rem, 2vw, 1rem);
  /* 2vw --> 0.96 (768px-tablet) */
}

.product-filter-btn-clear {
  text-decoration: underline;
  transition: var(--transition-base);
}