/* ========== Section: Product Details ========== */
.product-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  width: 100%;
}

.product-media {
  max-width: 50%;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.75rem;
}

.product-thumbnail-swiper .swiper-slide {
  opacity: 0.75;
  transition: var(--transition-base);
}

.product-thumbnail-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.product-thumbnail-swiper {
  width: 100%;
  max-height: 30rem;
}

.product-media-main,
.product-thumbnail {
  background-color: var(--color-light);;
  border: 2px solid var(--color-light);
  border-radius: var(--radius-sm);
}

.product-thumbnail {
  cursor: pointer;
}

.product-details-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  gap: 2rem;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-details-info .product-title {
  font-size: 1.5rem;
}

.product-rating {
  color: #ef9507;
}

.product-rating i {
  font-size: 0.75rem;
}

.product-quantity-selector {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-details-content .quantity-selector-wrapper {
  max-width: 25%;
}

.quantity-selector-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-light);
  border-radius: var(--radius-sm);
  padding: 0.2rem 0.4rem;
}

.quantity-selector-wrapper:focus-within {
  border-color: var(--color-primary);
}

.btn-quantity {
  color: var(--color-muted);
}

.btn-quantity i {
  font-size: 0.9rem;
}


.quantity-count {
  width: 100%;
  background: transparent;
  text-align: center;
  outline: none;
  border: none;
  color: var(--color-light);;
}


.quantity-count::-webkit-inner-spin-button {
  display: none;
}

.product-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.option-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.option-values {
  display: flex;
  gap: 0.5rem;
}

.color-swatch-input {
  display: none;
}

.color-swatch-label {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  padding: 0.2rem;
  border: 2px solid var(--color-muted);
  border-radius: var(--radius-circle);
  cursor: pointer;
}

.color-swatch-visual {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-circle);
}

.color-swatch-input:checked+.color-swatch-label {
  border-color: var(--color-primary);
}

.color-swatch-visual-white {
  background-color: var(--color-light);;
}

.color-swatch-visual-black {
  background-color: var(--color-dark );
}

.color-swatch-visual-red {
  background-color: #e53935;
}

.product-details-content .btn-atc {
  width: 100%;
}

/* ========== Media Queries ========== */
@media screen and (max-width:1024px) {
  .product-media {
    display: block;
  }

  .product-media-main {
    margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .product-thumbnail-swiper {
    height: inherit;
  }

  .product-details-content .quantity-selector-wrapper {
    max-width: 42%;
  }
}

@media screen and (max-width: 480px) {
  .product-details-content .quantity-selector-wrapper {
    max-width: 40%;
  }

  .product-media {
    max-width: 100%;
  }
}