.product-filter-section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9997;
  max-width: 25rem;
  width: 75%;
  height: 100%;
  background-color: var(--color-bg);
  opacity: 1;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.product-filter-section.active {
  transform: translateX(0%);
}

.product-filter-container {
  height: 100%;
}

.product-filter-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.product-filter-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #fff;
  background-color: var(--color-bg);}

.product-quantity,
.product-quantity-count {
  color: var(--color-muted);
}

.product-filter-body {
  overflow-y: auto;
  background-color: var(--color-bg);}

.product-filter-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
  border-top: 1px solid #fff;
  background-color: var(--color-bg);  margin-top: auto;
}

.price-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 2px solid #1a1a1a;
  border-radius: 12px;
  padding: 0.5rem;
}

.price-input-wrapper:focus-within {
  width: 100%;
  background-color: rgba(207, 15, 71, 0.05);
  border: 2px solid var(--color-primary);
}

.price-input {
  width: 100%;
  background: transparent;
  text-align: center;
  outline: none;
  border: none;
  text-align: right;
}

.price-input::-webkit-inner-spin-button {
  display: none;
}

.price-count-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.price-filter-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.filter-label {
  cursor: pointer;
}

.product-filter-btn-clear {
  text-decoration: underline;
}