/* ===== Section: Swiper Slider ===== */

.new-products-swiper,
.deal-swiper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: clamp(1rem, 2.5vw, 1.5rem);
    /* 2.5vw --> 1.2rem (768px-tablet) */
}

.new-products-swiper-bottom,
.deal-swiper-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-products-swiper-navigation,
.deal-swiper-navigation {
    display: flex;
    gap: clamp(1rem, 2.5vw, 1.5rem);
    /* 2.5vw --> 1.2rem (768px-tablet) */
}

.team-swiper-pagination,
.new-products-swiper-pagination,
.category-swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}

.swiper-pagination-bullet {
    background-color: var(--color-muted);
}

.swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}

/* ========== Media Queries ========== */
@media screen and (max-width: 768px) {
    .new-product-image {
        aspect-ratio: 3.5 / 2;
    }
}

@media screen and (max-width: 480px) {

    .swiper-btn,
    .swiper-navigation {
        display: none;
    }

    .swiper-action-buttons {
        width: 100%;
        align-items: center;
    }

    .deal-swiper-bottom:has(.swiper-action-buttons) {
        justify-content: center;
    }

    .deal-swiper-bottom .swiper-action-buttons {
        width: auto;
    }
}