.section {
    padding: var(--spacing-lg) var(--spacing-xl);
    background: var(--color-bg);
}

.hero,
.most-sold-products,
.new-products,
.new-deal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg);
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(34.02% 44.73% at 50% 55.27%,
            var(--color-primary) 0%,
            var(--color-bg) 100%);
}

.page-title {
    font-size: var(--font-size-xl);
}

.page-subtitle {
    font-size: var(--font-size-lg);
}

.section-title {
    display: inline-block;
    align-self: flex-start;
    border-bottom: 2px solid var(--color-primary);
    font-size: var(--font-size-lg);
    color: var(--color-text);
    text-transform: uppercase;
}

/* Section: Image With Text */
.image-with-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-lg);
}

.image-with-text__media {
    flex: 1 1 35%;
    border-radius: var(--radius-lg);
    overflow: hidden;
}

.image-with-text__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-with-text__content {
    flex: 1 1 60%;
}

/* Section: Mission & Vision */
.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: var(--spacing-md);
    padding-top: var(--spacing-md);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-md);
    border-radius: var(--radius-lg);
    background: var(--color-primary);
    background: linear-gradient(135deg, rgba(214, 126, 151, 1) 0%, rgba(209, 71, 110, 1) 35%, rgba(207, 15, 71, 1) 100%);
}

.card-media--icon {
    color: var(--color-white);
    font-size: var(--font-size-xl);
}

/* .card-media--image {} */

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ===== Buttons ===== */
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    max-width: 100%;
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    border-radius: var(--radius-md);
    text-transform: uppercase;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-white);
    color: var(--color-primary);
}

.btn-primary span {
    color: var(--color-primary);
}

.btn-secondary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: var(--spacing-sm);
    border-radius: var(--radius-full);
    background-color: var(--color-primary);
    color: #ffffff;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-lg);
}

/* ===== Swiper Slider ===== */
.swiper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-md);
}

.swiper-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-navigation {
    display: flex;
    gap: var(--spacing-lg);
}

.swiper-button-disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}